{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="card text-center mx-auto" style="">
        <img class="card-img-top mx-auto" src="{% static "/images/student_hive_logo.png" %}"
             alt="Virtual Residence Campus logotype"
             style="width: 20%;height: 20%;">
        <div class="card-body">
            <h1 class="card-title">About Us</h1>
            <br>
            <h3 class="card-subtitle mb-2 text-muted">About Student Hive</h3>
            <br>
            <h4 class="card-subtitle mb-2 text-muted">The coolest place for students to call home!</h4>
            <br>
            <p class="card-text">We're a one-of-a-kind company that's all about providing students with an awesome
                experience. Our online platform lets you explore and interact with your residence mates creating events
                and activities. Here you will be able to take your stay to the next level being able to book rooms,
                check the laundry, ask for maintenance, get a copy of the contract, make payments and more.</p>
            <br>
            <p class="card-text">So if you're ready to join the future of student living, come check us out! We can't
                wait to have you and show you all our awesome tool in Student Hive.</p>
        </div>
    </div>
    <br>
    <div class="card text-center mx-auto" style="">
        <div class="card-body">
            <h3 class="card-subtitle mb-2 text-muted">About the Team</h3>
            <br>
            <p class="card-text">We are a team of 5 students from the VIA University Collage of Horsens. We are
                currently in our exchange semester studying Global Business Engineering and we are very excited to be
                working on this project. We are looking forward to making your stay at the residence a next level
                experience.</p>
        </div>
    </div>
    <br>
    <div class="card text-center mx-auto" style="">
        <div class="card-body">
            <h3 class="card-subtitle mb-2 text-muted">Testimonials</h3>
            <br>
            <blockquote class="blockquote mb-0">
                <p>I have been using the Student Hive for a few months now and I must say it is amazing.
                    It has made my life as a resident so much easier and enjoyable. The website has everything I need to
                    manage my stay, from paying rent and bills, to booking amenities and services, to joining events and
                    activities. The website is also very user-friendly and intuitive, with a sleek design and fast
                    performance. The best part is that I can connect with other residents and staff through the website,
                    and
                    get support and feedback whenever I need it. The website is constantly updated and
                    improved, and the developers are always open to suggestions and feedback. I highly recommend the
                    Student
                    Hive website application to anyone who wants to make living in the residence a next level
                    experience.
                </p>
                <footer class="blockquote-footer">James Castle <cite title="Date">February 2023</cite></footer>
            </blockquote>
            <br>
            <blockquote class="blockquote mb-0">
                <p>The Student Hive website application is a great tool for residents. It helps me keep track of
                    everything related to my stay, such as rent, bills, amenities, services, events, and activities. The
                    website is also very easy to use and navigate, with a modern design and smooth performance. I love
                    that I can communicate with other residents and staff through the website, and get help and advice
                    whenever I need it. I highly recommend the Student Hive website
                    application to anyone who wants to make living in the residence a great experience.
                </p>
                <footer class="blockquote-footer">Cristina Gomez <cite title="Date">February 2023</cite></footer>
            </blockquote>
            <br>
            <blockquote class="blockquote mb-0">
                <p>The website application is an amazing tool for residents. It allows me to manage
                    everything related to my stay, such as rent, bills, amenities, services, events, and activities. The
                    website is also very user-friendly and intuitive, with a stylish design and fast performance. I
                    enjoy that I can interact with other residents and staff through the website, and receive support
                    and feedback whenever I need it. I highly recommend the Student Hive.
                </p>
                <footer class="blockquote-footer">Paul Cameron <cite title="Date">August 2022</cite></footer>
            </blockquote>
        </div>
    </div>
{% endblock %}
