<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% block headers %}
{% endblock %}
<head>
    <meta charset="UTF-8">
    <title>Student Hive</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <script src="{% static 'js/axios.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"
            integrity="sha512-Tn2m0TIpgVyTzzvmxLNuqbSJH3JP8jm+Cy3hvHrW7ndTDcJ1w5mBiksqDBb8GpE2ksktFvDB/ykZ0mDpsZj20w=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
            integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <style>
        body {
            font-family: Lato, sans-serif;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light " style="background-color:#EE8C24">
    <div class="container-fluid">
        <a class="navbar-brand btn font-weight-bold btn-outline-light"
           href="{% url 'home' %}">Student HIVE</a>
        <ul class="navbar-nav">
            <li class="nav-item pe-2 py-1">
                <a role="button" class="btn btn-outline-light mr-3 py-2"
                   href="{% url 'about-us' %}">About us</a>
            </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item pe-2 py-1">
                    <a role="button" class="btn btn-outline-light mr-3 py-2"
                       href="{% url 'events' %}">Events</a>
                </li>
                <li class="nav-item dropdown pe-2 py-1">
                    <a class="nav-link dropdown-toggle btn btn-outline-light text-light mr-3 py-2"
                       href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Services
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item bg-light" href="{% url 'event-new' %}">Create Event</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item bg-light" href="{% url 'get-contract' %}">Get my contract</a></li>
                        <li><a class="dropdown-item bg-light" href="{% url 'maintenance-new' %}">
                            Create a Maintenance Request</a></li>
                    </ul>
                </li>
                {% if not request.user.is_staff %}
                    <li class="nav-item pe-2 py-1">
                        <a role="button" class="btn btn-outline-light mr-3 py-2"
                           href="{% url 'logout' %}">Logout</a>
                    </li>
                {% endif %}
            {% endif %}
            {% if request.user.is_staff %}
                <li class="nav-item dropdown pe-2 py-1">
                    <a class="nav-link dropdown-toggle btn btn-outline-light text-light mr-3 py-2"
                       href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Admin tools
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item bg-light" href="{% url 'maintenance-requests' %}">
                            Manage Maintenance Requests</a></li>
                    </ul>
                </li>
                <li class="nav-item pe-2 py-1">
                    <a role="button" class="btn btn-outline-light mr-3 py-2"
                       href="{% url 'logout' %}">Logout</a>
                </li>
            {% endif %}
            {% if not request.user.is_authenticated %}
                <li class="nav-item pe-2 py-1">
                    <a role="button" class="btn btn-outline-light mr-3 py-2" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item pe-2 py-1">
                    <a role="button" class="btn btn-outline-light mr-3 py-2" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container py-5">
    {% block content %}
    {% endblock %}
    <br>
    <footer>
        <hr>
        <div class="col-md-6">
            <p>© 2023 by Student Hive. All rights reserved.</p>
            <p>Email: contact@studenthive.com</p>
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/student_hive_logo.png' %}"
                 alt="logo" width="100px" height="50px">
        </div>
    </footer>
</div>
</body>
<script>
</script>
</html>
